@import url('https://fonts.googleapis.com/css2?family=Allison&family=Raleway:wght@200;300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
:root{
    --hue-color:198;
    --body-color: hsl(var(--hue-color),4%, 96%);
}
body{
    background:var(--body-color); 
    background-size: 100%;
}
.Main{
    border: solid 1px black;
    width: 60%;
    margin: 0 auto;
    padding: 5px;
}
fieldset{
    font-family: 'Raleway', sans-serif;
 
}
legend{

    font-weight: bold;
    border-style:groove;
    border-radius: 3px;
}


.h_1{
    display: inline-flex;

    margin-top: 0%;
    font-family: 'Raleway', sans-serif;

}
ul{
    font-weight:bolder;
}
.Firma{
font-family: 'Allison', cursive;
}
